In [3]:
import pandas as pd
df_hasil_ujian = pd.read_csv("StudentsPerformance.csv")
df_hasil_ujian.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Jumlah Nilai

In [6]:
# menghitung elemen berdasarkan jenis kelamin

# fungsi len
len(df_hasil_ujian["gender"])
# .count() method
df_hasil_ujian["gender"].count()

np.int64(1000)

In [7]:
# menghitung elemen berdasarkan jenis kelamin per kategori
df_hasil_ujian["gender"].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [8]:
# mengembalikan frekuensi relatif (membagi semua nilai dengan jumlah total nilai)
df_hasil_ujian["gender"].value_counts(normalize=True)

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [9]:
# menghitung elemen "tingkat pendidikan orang tua" per kategori
df_hasil_ujian["parental level of education"].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [11]:
# mengembalikan frekuensi relatif dan membulatkan hingga 2 desimal
df_hasil_ujian["parental level of education"].value_counts(normalize=True).round(2)

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64